html, body { margin: 0; padding: 0; width: 100%; height: 100%; }
#container { margin: 50px; font-family: "Source Sans Pro", sans-serif; font-weight: 400; }
h1 { font-weight: 700; }
a { text-decoration: none; }
li { margin: 20px 0 0 0; }
input { padding: 10px; }